/* -------------------------------------------------------------------
// markItUp!
// By Jay Salvat - http://markitup.jaysalvat.com/
// ------------------------------------------------------------------*/
.markItUp .markItUpButton-h1 a {
	background-image:url(images/h1.png);
}
.markItUp .markItUpButton-h2 a {
	background-image:url(images/h2.png);
}
.markItUp .markItUpButton-h3 a {
	background-image:url(images/h3.png);
}
.markItUp .markItUpButton-h4 a {
	background-image:url(images/h4.png);
}

.markItUp .markItUpButton-b a {
	background-image:url(images/bold.png);
}
.markItUp .markItUpButton-em a {
	background-image:url(images/italic.png);
}

.markItUp .markItUpButton-li a {
	background-image:url(images/list-bullet.png);
}
.markItUp .markItUpButton-ol a {
	background-image:url(images/list-numeric.png);
}

.markItUp .markItUpButton-img a {
	background-image:url(images/picture.png);
}
.markItUp .markItUpButton-a a {
	background-image:url(images/link.png);
}

.markItUp .markItUpButton-quote a	{
	background-image:url(images/quotes.png);
}
.markItUp .markItUpButton-code a	{
	background-image:url(images/code.png);
}

.markItUp .preview a {
	background-image:url(images/preview.png);
}

.markItUp .markItUpButton-help a {
    background-image:url(images/help.png);
}
